# Ignore node_modules in my sub-repositroy
react-hello/node_modules/
react-testjob2/node_modules/
react-calculator/node_modules/
react-btn-library/node_modules/
react-pagination/node_modules/
react-modal/node_modules/
react-testjob-5/node_modules/
react-typescript/node_modules/