svg {
    fill: #65676B;
}
.main {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main .container {
    max-width: 800px;
    min-width: 800px;
}
